../.pytest_cache/
../__pycache__/
__pycache__/
../.pytest_cache/CACHEDIR.TAG
../.pytest_cache/README.md
../.pytest_cache/v/
../__pycache__/
.pytest_cache/CACHEDIR.TAG
        .pytest_cache/README.md
        .pytest_cache/v/
        __pycache__/test_math.cpython-313-pytest-8.4.1.pyc
        
../.pytest_cache/CACHEDIR.TAG
        ../.pytest_cache/README.md
        ../.pytest_cache/v/